h1 {
	color: rgb(2, 132, 130);
}
	
h2 {
		color: #FFd700;
	}
footer {
	background: #808080;
}
.board {
	height: 50%;
	width: 50%;
	float: left;
	margin: 8%;
}
.card {
	height: 200px;
	width: 150px;
	border: 1px solid black;
	background: yellow;
	border-radius: 10px;
	display: inline-block;
	margin: 8%;

}
.name {
	color: #ff0000;
}
nav {
	background: #808080;
}
nav a {
	text-decoration: none;
	background: #ffbf00;
	color: white;
	padding: 35px;
	float: left;
	display: inline-block;
}

a:hover {
	background: #ee5f3c;
}
 .clearfix:after {
        visibility: hidden;
        display: block;
        content: " ";
        clear: both;
        height: 0;
        font-size: 0;
      }
p, h1, h2, footer {
	text-align: center;
}
